@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply tracking-wide leading-5;
  }
  input[type="text"] {
    @apply outline-none p-3 md:p-4 rounded-md text-slate-700 border border-slate-600;
  }
  .searchbtn{
    @apply absolute inset-y-0 right-0 flex-grow items-center justify-center m-1 px-4 sm:m-1.5 sm:px-6 rounded-md bg-slate-900 text-white hover:opacity-60 transition;
  }
  .login-signup{
    @apply flex items-center text-xs text-sky-200;
  }
  .my-account{
    @apply text-sm hover:opacity-70 transition;
  }
  .cart-quantity{
    @apply inline-block w-6 h-4 bg-slate-50 text-black text-center rounded-xl font-bold text-xs;
  }
  .cart{
    @apply text-xs hover:opacity-80 transition;
  }
  .lists{
    @apply flex flex-wrap justify-center items-center list-none gap-5;
  }
  .link{
    @apply whitespace-nowrap cursor-pointer hover:opacity-70 hover:underline underline-offset-2 transition;
  }
  .menu{
    @apply flex flex-col gap-5;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

main {
  @apply p-4 pt-20
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}  */
